h1 {
	font-family : Trebuchet MS;
	color : #000000;
	padding-top : 16px;
	padding-bottom : 0px;
}

p {
	font-family : Trebuchet MS;
	color : #000000;
}

th {
	font-family : Trebuchet MS;
	color : #000000;
}

table {
	float: center;
	margin-right: 10px;
}

body {
	 background-color : #ffffff
}