h1 {
	font-family : Trebuchet MS;
	color : #000000;
	padding-top : 16px;
	padding-bottom : 0px;
}

p {
	font-family : Trebuchet MS;
	color : #000000;
}

th {
	font-family : Trebuchet MS;
	color : #000000;
}

table {
	float: center;
	margin-right: 10px;
}

body {
	 background-color : #f2f2f2
}

#r1c1{
	background-color : #000000;
}

#r1c2{
	background-color : #000000;
}

#r1c3{
	background-color : #000000;
}

#r2c1{
	background-color : #000000;
}

a {
	font-family : 16px Verdana;
	color : #fff;
}

#center-page {
	background-image : url("");
	background-color : #ffffff;
}

#title {
	color : #ffffff;
}